*{
   margin: 0;
padding: 0;
box-sizing: border-box;
}
.navbar{
   display: flex;
    align-items: center;
    padding: 5px;
    background: radial-gradient(#fff,red);
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
   display: inline-block;
   margin-right: 20px;
}
body{
   font-family: 'Poppins', sans-serif;
}

a{
  text-decoration: none;
  color: #555;
}

p{
  color : #555;
}

.container{
   max-width: 1300px;
  margin: auto;
   padding-left: 25px;
   padding-right: 25px;
}

.row{
   display: flex;
   align-items : center;
   flex-wrap: wrap;
   justify-content : space-around;
}
.logo img{
      border-radius: 50px;
}
.col-2{
    flex-basis : 50%;
    min-width : 300px;
}
.col-2 img{
  max-width: 100%; 
  padding: 50px 0;
  border-radius: 50%;
}
.col-2 h1{
font-size: 50px;
line-height: 60px;
margin: 25px 0;
}
.btn{
   display: inline-block;
   background: #ff523b;
   color: #fff;
   padding: 8px 30px;
   margin: 30px 0;
   border-radius: 30px;
   transition: background 0.5s;
}
.btn:hover{
    background: #563434;
}
.header{
   background: radial-gradient(#fff,white);
}
.header .row{
    margin-top: 70px;
}
.featured{
    margin: 100px 70px;
}
.col-3{
   flex-basis:33%;
   min-width: 250px;
   margin-bottom: 30px;
}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 55px;
    padding-right: 5px;
}
.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}
.col-4 img{
    width : 100%;
}
.col-4:hover{
    transform: translateY(-5px);
}
.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line height: 60px;
    color; #555;
}
/*----about------*/
.sec{
    width: 100%;
    min-height: 60vh;
    background: radial-gradient(#fff,red);
}
.cont{
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 100px;
}
.cont-sec{
   float: left;
   width: 50%;
}
.imag-sec{
   float: right;
   width: 37%;
}
.imag-sec img{
   width: 100%;
   height: auto;
   border-radius: 10px;
}

/*--------footer----------*/

.footer{
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 60px;
}
.footer p{
    color: #8a8a8a;
}
.footer h3{
   color: #fff;
   margin-bottom: 20px;
}
.footer-col-1{
    float: left;
    width: 40%;
}
.footer-col-2{
    float: right;
    width: 25%;
}
.footer hr{
   border: none;
   background: #b5b5b5;
   height: 1px;
   margin: 20px 0;
}
.copy{
   text-align: center;
}
.footer ul{
   color: #8a8a8a;
}
