*
{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
h1
{
 text-align: center;
 font-style: oblique; 
 font-size: 60px;  
 font-variant: small-caps;
 color: rgb(32, 24, 24);
}
body
{
 font-size: 14px;
 background: #f2f2f2;
}
.container
{
 background: white;
 height: auto;
 width: 500px;
 padding: 25px;
 margin: 50px auto 0;
 border-top: 5px solid black;
 box-shadow: 0 0 7px 5px rgba(0, 0, 0, 0.5);   
}
.container h2
{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    Line-height: 24px;
    padding: 30px;
    text-align: center;
}
.input-name
{
 width: 90%;
 position: relative;
 margin: 5px auto;   
}
.lock
{
    padding: 8px 11px;
}
.name
{
    width: 100%;
    padding: 8px 0 8px 40px;      
}
.input-name span
{
    margin-left: 35px;
}
.text-name
{
 width: 100%;
 padding: 8px 0 8px 40px;   
}
.input-name i
{
 position: absolute;
 font-size: 15px;
 border-right: 1px solid #cccccc;
}
.email
{
    padding: 8px 9px;
}
.phone
{
    padding: 8px 10px;
}
.tel
{
    width: 100%;
    padding: 8px 0 8px 40px;  
}

select
{
    height: 38px;
    width: 406px;
    margin-left: 22px;
    text-align: center;
}

.button
{
   display: inline-block;
   background: #ff523b;
   color: #fff;
   padding: 8px 30px;
   margin: 30px 0;
   text-allign: center;
   border-radius: 30px;
   transition: background 0.5s;
   margin-left: 150px;
}
.button:hover{
    background: #563434;
}
a
{
 margin-left: 195px;
 text-decoration: none; 
 }
 .payment-icons {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 20px;
    }

    .payment-icon {
      width: 50px; /* Adjust the size as needed */
      margin: 0 10px;
    }

